@import '../../styles/variables';

.ControlBar {
  position: absolute;
  display: flex;
  align-items: center;
  width:inherit;
  max-width:inherit;

  top: 0;

  background-color: $secondary;

  .searchInput {
    height: 24px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid $primary;
  }

  .Button {
    margin-left: auto;
  }
}
